<footer class="footer">
  <div class="container">
    <div class="box">
      <div class="logo-box">
        <a href="./index.html" class="logo">
          <svg class="svg-logo" width="168" height="16">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="logo-descr">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="items-box">
        <div class="links-box">
          <ul class="ul-links">
            <li class="li-link">
              <a class="link" href="#howitworks">how it works</a>
            </li>
            <li class="li-link">
              <a class="link" href="#vegetables">vegetables</a>
            </li>
            <li class="li-link"><a class="link" href="#reviews">reviews</a></li>
          </ul>
        </div>
        <div class="address-box">
          <a href="tel:+380684439426" class="link-tell">
            +380 (68) 443-94-26
          </a>
          <a href="https://www.google.com/maps/search/?api=1&query=1678+S+Pioneer+Road+Salt+Lake+City+UT+84104"
            class="link-address" target="_blank">1678 S. Pioneer Road Salt Lake City UT 84104</a>
        </div>
      </div>
    </div>
    <div class="last-box">
      <div class="policy-box">
        <a class="option-link first-option-link" target="_blank" href="https://policies.google.com/privacy">Privacy
          Policy</a>
        <span class="span-slesh">/</span>
        <a class="option-link" target="_blank" href="https://www.cookiechoices.org/">Cookie settings</a>
      </div>
      <p class="mini-logo">©Green Harvest 2023</p>
    </div>
  </div>
</footer>