<section class="howitworks" id="howitworks">

  <div class="box">
    <div class="howitworks-block-image box-red">

      <h2 class="visually-hidden">Image order</h2>
      <picture>
        <!-- Desktop -->
        <source media="(min-width: 1280px)" srcset="
                        /img/howitworks/women-cooking-desktop.jpg 1x,
                        /img/howitworks/women-cooking-desktop@2x.jpg 2x
                      " />
        <!-- Tablet -->
        <source media="(min-width: 768px)" srcset="
                        /img/howitworks/women-cooking-tablet.jpg 1x,
                        /img/howitworks/women-cooking-tablet@2x.jpg 2x
                      " />
        <!-- Mobile -->
        <source media="(max-width: 767px)" srcset="
                        /img/howitworks/women-cooking.jpg 1x,
                        /img/howitworks/women-cooking@2x.jpg 2x
                      " />
          <img
          class="main-image"
          src="/img/howitworks/women-cooking.jpg"
          alt="women-cooking"
          width="335px"
          height="452px">
        </picture>
    </div>

  </div>
  <div class="box">
    <div class="howitworks-block-order box-green">

      <div class="tex">
        <h2 class="howitworks-title">
          To order your
          <span class="howitworks-title-style">vegetable</span>
          basket, simply follow these
          <span class="howitworks-title-style">easy steps</span>

        </h2>
        <p class="howitworks-text">
          Our baskets are assembled with care and delivered
          straight to your doorstep, so you can enjoy the taste of
          fresh fruit without ever leaving your home.
        </p>
        <ol class="howitworks-list">
          <li class="howitworks-item">

            <!-- <img class="content-number" src="" alt=""> -->

            <div class="wrapper">
              Just choose the
              <span class="content-text-style">vegetable</span>
              you want to order by clicking on the
              checkboxes <span class="content-text-style">next to it.</span>
            </div>


          </li>
          <li class="howitworks-item">

            <!-- <img class="content-number" src="" alt=""> -->

            <div class="wrapper">
              Click on the <span class="content-text-style">basket</span>
              and fill out&nbsp;the&nbsp;form.
            </div>


          </li>
          <li class="howitworks-item">

            <!-- <img class="content-number" src="" alt=""> -->

            <div class="wrapper">
              Sit back and relax! Your <span class="content-text-style">fresh</span>
              <span class="content-text-style">vegetables</span> basket will be
              delivered.
            </div>


          </li>
        </ol>
      </div>

    </div>
  </div>

</section>