<div class="mobile-menu">
  <button class="mobile-menu-close" type="button">
    <svg class="mobile-menu-close-icon" width="32" height="32">
      <use href="img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-item" id="howitworks">
      <button class="mobile-menu-button button-howitworks" type="button">
        How It Works
      </button>
    </li>
    <li class="mobile-menu-item" id="vegatables">
      <button class="mobile-menu-button button-vegatables" type="button">
        Vegetables
      </button>
    </li>
    <li class="mobile-menu-item" id="reviews">
      <button class="mobile-menu-button button-reviews" type="button">
        Reviews
      </button>
    </li>
  </ul>
  <button class="shop-button" type="button">Shop now</button>
</div>
