<link rel="stylesheet" href="/src/css/yourorder.css" />
<section class="yourorder" id="yourorder">
  <div class="container">
    <div class="title-container">
      <h2 class="title-order">
        Fresh <span class="title-order-span">Harvest</span> Box has got you
        covered
      </h2>
      <p class="text-order">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-form">
      <div class="form">
        <h3 class="form-title">
          Ordering <span class="form-span-one">from us</span> is quick and easy!
          Fill out <span class="form-span-two">the form</span> below and we will
          contact you !
        </h3>
        <input
          class="name-input"
          type="text"
          name="user-name"
          placeholder="Full Name"
          pattern="([\-a-zA-Z']{2,20})" required
        />
        <input
          class="email-input"
          type="email"
          name="user-email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required
        />
        <textarea
          class="comment-input"
          placeholder="Comment"
          name="user-comment"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{5,500})"
          required
        ></textarea>
        <button class="form-but" type="submit">Send</button>
      </div>
      <div class="social-order">
        <picture class="image-wrapper">
    <source srcset="img/yourorder/desktop@2x.png" media="(min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi)">
    <source srcset="img/yourorder/desktop@1x.png" media="(min-width: 1280px)">
    <source srcset="img/yourorder/tablet@2x.png" media="(min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi)">
    <source srcset="img/yourorder/tablet@1x.png" media="(min-width: 768px)">
    <source srcset="img/yourorder/mobile@2x.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)">
    <img class="image-order" src="img/yourorder/mobile@1x.png" alt="Fresh Harvest">
</picture>

      <p class="social-text">Follow us on our social networks:</p>
      <div class="networks-order">
        <ul class="social-media">
          <li class="social-item"><a class="link-order" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a></li>/
          <li class="social-item"><a class="link-order" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a></li>/
          <li class="social-item"><a class="link-order" target="_blank" href="https://www.youtube.com/c/GoIT">YouTube</a></li>
      </ul>
      </div>
      </div>
</div>
</section>
