<section class="yourorder" id="yourorder">
  <div class="container">
    <div class="title-container">
      <h2 class="title-order">
        Fresh <span class="title-order-span">Harvest</span> Box has got you
        covered
      </h2>
      <p class="text-order">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-form">
      <form class="form">
        <p class="form-title">
          Ordering <span class="form-span-one">from us</span> is quick and easy!
          Fill out <span class="form-span-two">the form</span> below and we will
          contact you !
        </p>
        <input class="name-input" type="text" aria-label="Full Name" name="user-name" placeholder="Full Name"
          pattern="(([\-a-zA-Z']{2,20})(\s[\-a-zA-Z']{0,20})?)" required />
        <input class="email-input" type="email" aria-label="Email" name="user-email" placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required />
        <textarea id="text-area" class="comment-input" aria-label="Comment" placeholder="Comment" name="user-comment"
          required></textarea>
        <button class="form-but" type="submit">Send</button>
      </form>
      <div class="social-order">
        <picture class="image-wrapper">
          <source media="(min-width: 1280px)"
            srcset="/img/yourorder/desktop@1x.png 1x, /img/yourorder/desktop@2x.png 2x" />
          <source media="(min-width: 768px)"
            srcset="/img/yourorder/tablet@1x.png 1x, /img/yourorder/tablet@2x.png 2x" />
          <source media="(max-width: 767px)"
            srcset="/img/yourorder/mobile@1x.png 1x, /img/yourorder/mobile@2x.png 2x" />
          <img class="image-order" src="/img/yourorder/mobile@1x.png" alt="The girl is making juice" width="428"
            height="352" />
        </picture>

        <p class="social-text">Follow us on our social networks:</p>
        <div class="networks-order">
          <ul class="social-media">
            <li class="social-item"><a class="link-order" target="_blank"
                href="https://www.instagram.com/goitclub/">Instagram</a>
              <span class="slesh">/</span>
            </li>
            <li class="social-item"><a class="link-order" target="_blank"
                href="https://www.facebook.com/goITclub/">Facebook</a>
              <span class="slesh">/</span>
            </li>
            <li class="social-item"><a class="link-order" target="_blank"
                href="https://www.youtube.com/c/GoIT">YouTube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>