@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 100px;
  }
}

.advertis-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
}

.advertis {
  padding-top: 80px;
  padding-bottom: 80px;
}

.discount {
  border-radius: 12px;
  background-color: #576f35;
  color: white;
  display: flex;
  text-align: left;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .advertis-text {
    font-size: 64px;
    line-height: 64px;
  }
  .advertis {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .advertis-text {
    font-size: 76px;
    line-height: 76px;
    display: inline;
  }
  .discount {
    display: inline;
  }
}
