@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 100px;
  }
}

.line-break {
  display: none;
}

.advertis-text {
  font-weight: 600;
  font-size: 48px;
  color: black;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -0.01em;
}

.advertis {
  padding-top: 80px;
  padding-bottom: 80px;
}

.discount {
  border-radius: 12px;
  background-color: #576f35;
  color: white;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .advertis-text {
    font-size: 64px;
  }
  .advertis {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .advertis-text {
    font-size: 76px;
    display: inline-block;
  }
  .discount {
    display: inline-block;
    height: 84px;
    width: 808px;
    text-align: center;
  }
  .line-break {
    display: inline;
  }
}
