/* Styles for Mobile devices */
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 0;
  background: #7a3145;
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}
.logo-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}
.items-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.links-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}
.address-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
  width: 215px;
}
.last-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.policy-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}
.svg-logo {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}
.logo-descr {
  font-size: 14px;
  line-height: 1.43;
}
.link {
  
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  white-space: nowrap;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 14px;
}
.link-tell {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option-link {
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mini-logo {
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}
.link:hover,
.link:focus {
  transform: scale(1.1);
}

.link-tell:focus {
  transform: scale(1.1);
}
.link-address:focus {
  transform: scale(1.1);
}
.option-link:focus {
  transform: scale(1.1);
}
.span-slesh {
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
  .box {
    flex-direction: row;
    gap: 212px;
    margin-bottom: 100px;
  }
  .logo-box {
    gap: 24px;
  }
  .links-box {
    width: 228px;
    gap: 24px;
  }
  .last-box {
    flex-direction: row;
    gap: 318px;
  }
  .address-box {
    gap: 24px;
  }
  .items-box {
    gap: 64px;
  }
  .svg-logo {
    width: 216px;
    height: 20px;
  }
  .logo-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    max-width: 265px;
  }
  .ul-links {
    gap: 24px;
  }
  .link-tell {
    font-size: 16px;
    line-height: 1.25;
  }
  .address {
    font-size: 16px;
    line-height: 1.25;
  }
  .option-link {
    font-size: 16px;
    line-height: 1.25;
    white-space: nowrap;
  }
  .mini-logo {
    font-size: 16px;
    line-height: 1.25;
    white-space: nowrap;
  }
  .link-tell:focus {
    transform: scale(1.1);
  }

  .link-address:focus {
    transform: scale(1.1);
  }

  .option-link:focus {
    transform: scale(1.1);
  }
}

/* Styles for Desktop devices */

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 52px 0;
    gap: 124px;
  }
  .box {
    flex-direction: row;
    gap: 250px;
  }
  .logo-box {
    gap: 24px;
  }
  .items-box {
    flex-direction: row;
    gap: 124px;
  }
  .links-box {
    gap: 24px;
  }
  .address-box {
    gap: 24px;
    width: 216px;
  }

  .policy-box {
    gap: 12px;
  }

  .last-box {
    flex-direction: row;
    justify-content: space-between;
  }
  .svg-logo {
    width: 216px;
    height: 20px;
  }
  .logo-descr {
    font-size: 16px;
    line-height: 1.25;
  }
  .ul-links {
    gap: 24px;
  }
  .link-tell {
    font-size: 16px;
    line-height: 1.25;
    white-space: nowrap;
  }
  .link-address {
    font-size: 16px;
    line-height: 1.25;
  }
  .option-link {
    font-size: 16px;
    line-height: 1.25;
    white-space: nowrap;
  }
  .mini-logo {
    font-size: 16px;
    line-height: 1.25;
    color: #d4bfc4;
  }
  .link-tell:focus {
    color: #576f35;
  }
  .link-address:focus {
    color: #576f35;
  }
  .option-link:focus {
    color: #576f35;
  }
  .link-tell:hover {
    transform: scale(1.1);
  }
  .link-address:hover {
    transform: scale(1.1);
  }
  .option-link:hover {
    transform: scale(1.1);
  }
}
