.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  padding: 8px 0;
}

@media only screen and (min-width: 768px) {
  .header-logo-link {
    padding: 10px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .header-logo-link {
    padding: 16px 0;
  }
}

.header-logo {
  fill: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    width: 216px;
    height: 20px;
  }
}

.nav {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-list-link {
  line-height: 1.25;
  text-align: center;
  color: #fbfbfb;
  text-transform: capitalize;

  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.nav-list-item:hover,
.nav-list-item:focus {
  background: #d4bfc4;
}


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  background-color: #d4bfc4;
  color: #7a3145;
  border: none;
}

.nav-list-link:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.nav-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  width: 157px;
  height: 52px;
  background: #7a3145;

  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  outline: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.nav-btn:hover,
.nav-btn:focus {
  background-color: #d4bfc4;
  color: #7a3145;
}

.nav-btn:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.nav-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

@media only screen and (min-width: 768px) {
  .nav-menu-btn {
    width: 40px;
    height: 40px;
  }
}

.nav-menu {
  fill: #fbfbfb;
}

@media only screen and (min-width: 1280px) {
  .nav-menu-btn {
    display: none;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 100px;
  }
}