@media screen and (min-width: 1280px) {
  .howitworks {
    display: flex;
  }
}

.howitworks-block-image {
  padding: 40px 0px;
  background: #7a3145;
}

@media screen and (min-width: 768px) {
  .howitworks-block-image {
    padding: 100px 0px;

  }
}

@media screen and (min-width: 1280px) {
  .howitworks-block-image {
    width: 50%;

  }
}

.main-image {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .main-image {
    width: 640px;
    height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .main-image {
    width: 440px;
    height: 560px;
  }
}

.howitworks-block-order {
  padding-top: 80px;
  width: 100%;
  height: 676px;
  background: #576f35;
}

@media screen and (min-width: 768px) {
  .howitworks-block-order {

    padding: 100px 130px 0;

  }
}

@media screen and (min-width: 1280px) {
  .howitworks-block-order {

    padding: 100px 40px 0;
    width: 50%;
  }
}

.howitworks-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .howitworks-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .howitworks-title {
    font-size: 32px;
  }

}


.howitworks-title-style {
  color: #d4bfc4;
}

.howitworks-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fbfbfb;

  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .howitworks-text {
    font-size: 16px;
    line-height: 125%;
  }
}

.content-text {}



.content-text-style {
  font-weight: 700;
  color: #141414;
}

.howitworks-list {
  counter-reset: list-counter;
  /* Ініціалізація лічильника */
}

.howitworks-item {
  border-radius: 15px;
  padding: 12px 27px 12px 24px;
  height: 84px;
  background: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #858585;
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .howitworks-item {
    font-size: 16px;
    line-height: 125%;
  }
}

.howitworks-item::before {
  content: counter(list-counter);
  /* Додаємо номер */
  counter-increment: list-counter;
  /* Збільшуємо лічильник */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: #7a3145;
  border: 5px solid #d4bfc4;
  border-radius: 50%;
  color: #fff;
  /* Білий текст для номера */
  font-weight: bold;
  /* Жирний текст */
  font-size: 16px;
  /* Розмір шрифту */
  flex-shrink: 0;
}

.howitworks-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .howitworks-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .howitworks-item:last-child {
    margin-bottom: 100px;
  }

}