.mobile-menu {
  background-color: #576f35;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding-top: 296px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.25, 1, 0.95, 0.55);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 351px;
    padding-top: 360px;
    padding-bottom: 48px;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  outline: none;
}

.mobile-menu-close-icon {
  width: 32px;
  height: 32px;
  stroke: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-close-icon {
    width: 40px;
    height: 40px;
  }
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: auto;
}

.mobile-menu-item {
  width: 118px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fbfbfb;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.25, 1, 0.95, 0.55);
}

@media only screen and (min-width: 768px) {
  .mobile-menu-item {
    font-size: 16px;
    line-height: 1.25;
  }
}

.mobile-menu-item:active {
  background-color: #fbfbfb;
}

.mobile-menu-link {
  color: #fbfbfb;
  transition: color 250ms cubic-bezier(0.25, 1, 0.95, 0.55);
}

.mobile-menu-item:active .mobile-menu-link {
  color: #7a3145;
}

@media only screen and (min-width: 768px) {
  .item-vegatables {
    width: 122px;
  }
}

.item-reviews {
  width: 116px;
}

@media only screen and (min-width: 768px) {
  .item-reviews {
    width: 123px;
  }
}

.shop-button {
  align-self: center;
  width: 175px;
  padding: 16px 41px;
  color: #fbfbfb;
  background-color: #7a3145;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.11;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.25, 1, 0.95, 0.55),
    background-color 250ms cubic-bezier(0.25, 1, 0.95, 0.55);
    outline: none;
}

@media only screen and (min-width: 768px) {
  .shop-button {
    width: 157px;
    padding: 16px 32px;
  }
}

.shop-button:active {
  color: #7a3145;
  background-color: #fbfbfb;
 
}
