*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fbfbfb;
  background-color: #fbfbfb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
