.section-vegetables {
    padding: 80px 0;
    background-color: #7a3145;
}

.title-vegetables {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

.title-part {
    color: #d4bfc4;
}

.title-text-vegetables {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.vegetables-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.vegetables-item {
    border-radius: 40px;
    width: 335px;
    background-color: #fbfbfb;
    padding: 32px 24px;
}

.vegetables-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vegetables-content {
    align-self: flex-start;
}
 
.vegetables-card-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
    margin-bottom: 12px;
}

.vegetables-card-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #141414;
    margin-bottom: 12px;
}

.vegetables-img {
    max-width: 280px;
    height: 240px;
}

@media screen and (min-width: 768px) {
    .section-vegetables {
        padding: 100px 0;
    }

    .title-vegetables {
        display: flex;
        flex-direction: column;
        font-size: 64px;
        margin-bottom: 24px;
    }
    
    .title-text-vegetables {
        font-size: 16px;
        line-height: 1.25;
        max-width: 626px;
        margin-bottom: 52px;
    }
    
    .vegetables-list {
        gap: 28px 24px;
    }

    .vegetables-item {   
        padding: 32px 30px;
        width: 340px;
        height: 380px;
    }
}

@media screen and (min-width: 1280px) {
       .vegetables-img {
        height: 244px;
    }

    .title-vegetables {
        font-size: 64px;
        margin-bottom: 24px;
    }

    .vegetables-item {
        width: calc((100% - 2*24px) / 3);
    }
}

 
